[Unit]
Description=start docker's jenkins and gerrit
Requires=containers.service
After=containers.service

[Service]
Type=forked
ExecStart=/bin/bash /usr/bin/containers.sh

[Install]
WantedBy=multi-user.target
